<div class="main">
  <p class="title">Editar Designacão</p>

    <table class="table">
      <tr>
        <th>Designacão</th>
        <th>Funcionais</th>
        <th>Não Funcionais</th>
        <th>Número total</th>
      </tr>
      <tr *ngFor="let item of rooms">
        <td>{{ item.description }}</td>
        <td>
          <input
            type="number"
            min="0"
            [disabled]="item.description === 'Salas de Aulas Teóricas'"
            [(ngModel)]="item.functional"
          />
          <div *ngIf="item.functional < 0" style="color: red">
            O campo não pode ser negativo.
          </div>
        </td>
        <td>
          <input
            type="number"
            min="0"
            [(ngModel)]="item.nonFunctional"
            [disabled]="item.description === 'Salas de Aulas Teóricas'"
          />
          <div *ngIf="item.nonFunctional < 0" style="color: red">
            O campo não pode ser negativo.
          </div>
        </td>
        
        <td><input type="number" [value]="item.total" disabled/></td>
      </tr>
    </table>
    <div class="button">
      <button class="add" *ngIf="isAdmin" (click)="openDialog()">Adicionar Sala</button>
      <button (click)="updateRoom()" [disabled]="exibirBotaoAtualizar()">Atualizar</button>
    </div>

</div>
